{% for integration in integrations %}
    <li>
        <a href="{{ url('form-builder/integrations/new/' ~ integration.type) }}" class="item-meta add-integration" data-type="{{ integration.type }}">
            <div class="menu-wrapper">
                <div class="item-meta-icon">{% include 'form-builder-integrations/icons/integrations-' ~ integration.icon ignore missing %}</div>
                <div>{{ integration.name }}</div>
            </div>
        </a>
    </li>
{% endfor %}
