{% for integration in integrations %}
    <div class="item has-hover pad">
        <a href="#" class="item-meta add-integration" data-type="{{ integration.type }}">
            <div class="item-meta-icon">{% include 'form-builder-integrations/icons/integrations-' ~ integration.icon ignore missing %}</div>
        </a>
        <div class="item-info">
            <div class="item-meta-title">{{ integration.name }}</div>
        </div>
    </div>
{% endfor %}
